<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">
    <title>Calculadora Dano</title>

</head>

    <body>
    
        <div class="container">
            <p> Calculadora de Dano </p>

            <div class="select">
                <p> Selecione um personagem </p>
            </div>

            <div class="wrapper-person">

                <div class="orc">
                    <img src="../_imagem/orc.png" alt="orc">
                </div>

                <div class="goblin">
                    <img src="../_imagem/globin.png" alt="goblin">
                </div>

                <div class="witcher">
                    <img src="../_imagem/feiticeira.png" alt="witcher">
                </div>

            </div>

            <p>Selecione uma arma</p>

            <div class="wrapper-golpes">

                <div class="arco">
                    <img src="../_imagem/arco.png" alt="arco">
                </div>

                <div class="espada">
                    <img src="../_imagem/espada.png" alt="sword">
                </div>

                <div class="soco">
                    <img src="../_imagem/soco.png" alt="soco">
                </div>
            </div>

            <div class="botao">
                <button type="submit"> Atacar </button>
            </div>
        </div>


    </body>

</html>