<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../static/style.css">
        <title>Humor</title>

    </head>

    <body> 
        <div class="container">
            {% if image %}
            <div class="conteudo">
                <div class="nome">
                    <p></p>{{nome}}
                </div>

                <div class="humor">
                    <p></p>{{humor}} <b>BOLADASSO</b>
                </div>

                <div class="wrapper-bolado">
                    <img src="{{luffyBolado}}">
                </div>

                <form action="/troca" method="POST">
                    <button>Trocar</button>
                </form>
            </div>
                {% else %}
                <div class="conteudo">
                    <div class="nome">
                        <p></p> {{nome}}
                    </div>

                    <div class="humor">
                        <p></p>{{humor}} <b>SUAVERA</b>
                    </div>

                    <div class="wrapper-suave">
                        <img src="{{luffySuave}}" alt="">
                    </div>

                    <form action="/">
                        <button>Trocar</button>
                    </form>
                </div>
                {% endif %}
        </div>

    </body>
</html>