<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/global.css">
  <link rel="stylesheet" href="../static/pages/style.css">
  <link rel="stylesheet" href="../static/pages/resume.css">

  <title>Blue Flix</title>

</head>

  <body>
    
    {% include 'header.html' %}

    <div class="content">
      <h2>{{registro.nome}}</h2>
    </div>

    <div class="content poster">
      <img src="{{ registro.url }}" alt="imagem do filme">
    </div>
  </body>

</html>