* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.container {

    border-width: 3px;
    border-color: gray;
    border-style: solid;

    margin: 1rem;

}
.container p {

    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin-top: 1rem;

    cursor: pointer;
}

.select p {

    font-size: 20px;
    margin-top: 5rem;

    cursor: pointer;
}

.wrapper-person {    
    display: flex;
    justify-content:space-around;
}

.wrapper-person img {
    width: 20rem;
    cursor: pointer;
}

.wrapper-golpes {

    display: flex;
    justify-content: space-around;

    margin-top: 5rem;
}

.wrapper-golpes img {
    width: 10rem;
    cursor: pointer;
}

.container button {
    align-items: center;
}

.botao {
    text-align: center;
}

.botao button {

    width: 14rem;
    height: 5rem;
    margin-bottom: 1rem;

    color: aliceblue;
    font-size: 2rem;

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 1rem;
    box-shadow: 2px 2px 2px black;
}   

.botao button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(0,212,255,1) 100%);
}