.form {
  width: 60rem;
}

.form_input {
  align-items: center;
  justify-content: space-between;
}

.form_input label {
  font-weight: bold;
  padding-right: .8rem;
}

.form_input input[type="text"],
select {
  width: 40rem;
  padding: .6rem;
  margin: .8rem 0;
  display: inline-block;
  border: .1rem solid #ccc;
  border-radius: .4rem;
  box-sizing: border-box;
}

.form_input input[type="submit"] {
  width: 100%;
}

.id_atribuido {
  background: #3359ec;
  border-radius: .5rem;
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: bold;
  padding: .5rem 2rem;
}