<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title> Aula 03 - Flask: Condicionais </title>

</head>

    <body>
        <div class="wrapper-gif">
            <div class="luffy">
                <p></p>{{luffy_name}}
            </div>
        
            <!-- If aberto -->
            {% if exibir_imagem %}

            <div class="wrapper-luffy">
                <img src="{{luffy}}" alt="">
            </div>

            <div class="kaido">
                <p></p>{{kaido_name}}
            </div>
            <div class="wrapper-kaido">
                <img src="{{kaido}}" alt="">
            </div>
            
            <!-- If fechado -->
            {% endif %}
        </div>
    </body>

</html>