<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/style.css">
        <title>Aula 05: Formulário</title>

    </head>
<body>
    
    <div class = "container">
        <div class = "form">
            <form action = "" method="POST">
                <div class = "wrapper-name">
                    <input class = "name" name = "name" type = "text" placeholder = "Enter Your User Name" required>    
                </div>
                <div class = "wrapper-password">
                    <input class="password" name = "password" type = "password" placeholder = "Enter Your Password" required >
                </div>

                <div class = "wrapper-social">
                    <input class="social" type = "radio" value = "Twitter" name = "social-midia" >
                    <label for = "Twitter"> Twitter </label>
                    
                    <input class = "social" type = "radio" value = "linkedin" name = "social-midia">
                    <label for = "linkedin"> linkedin </label>  
                </div>

                <div class = "wrapper-social-two">
                    <input type = "checkbox" value = "Github" name = "social-two">
                    <label for =" Github ">Github</label>

                    <input type = "checkbox" value = "instagram" name = "social-three">
                    <label for = "instagram"> instagram </label>
                </div>

                <div class = "button">
                    <button type = "submit"> Enviar </button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>