<!DOCTYPE html>
<html lang="en">

    <head>

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="stylesheet" href="../static/style.css">
            <link rel="stylesheet" href="../static/fonts.css">
            <title>Calculadora de Danos</title>

    </head>

    <body>
        
        <div class="container">
            <div class="flex">
                <div class="character-one">
                    <div class="wrapper-ahri">
                        <!-- imagem no css -->
                    </div>
                    <div class="ahri-name">
                        <p>ahri</p>
                    </div>  
                    <div class="card-info-ahri">
                        <p>Com uma conexão inata com o poder
                        latente de Runeterra, Ahri é uma vastaya
                        capaz de transformar magia em orbes de
                        pura energia</p>
                    </div>
                </div>

                <div class="character-two">
                    <div class="wrapper-braum">
                        <!-- imagem no css  -->
                    </div>
                    <div class="braum-name">
                        <p>braum</p>
                    </div>
                    <div class="card-info-braum">
                        <p>Abençoado com bíceps gigantescos e um coração 
                        maior ainda, Braum é um amado herói de Freljord.        
                        Cada salão de hidromel ao norte de Frostheld brinda
                        sua força lendária</p>
                    </div>
                </div>

                <div class="character-three">
                    <div class="wrapper-aurelion">
                        <!-- imagem no css  -->
                    </div>
                    <div class="aurelion-name">
                        <p>aurelion Sol</p>
                    </div>
                    <div class="card-info-aurelion">
                        <p>Aurelion Sol costumava agraciar a vasta imensidão
                        vazia dos cosmos com maravilhas celestiais concebidas
                        por ele mesmo. Agora, ele é forçado a usar seu incrível
                        poder</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>