<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/fonts.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>

</head>

    <body>
        <div class="container">
            <header>
                <div class="wrapper-background">
                    <img src="../static/_images/bg.jpg" alt="">
                </div>

                <div class="banner">
                    escolha seu 
                    <p>campeão</p>
                </div>
            </header>
        </div>
    </body>

</html>