* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {

  --background: #ffffff;
  --blue: #3359ec;
  --blue-hover: #5673ee;

  font-size: 62.5%;
}

body {
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  min-height: calc(100vh - 4rem);
}

header {
  padding-top: 2rem;
  background: var(--background)
}

.button {
  background-color: var(--blue);

  border: none;
  border-radius: 1rem;
  color: white;

  display: inline-block;
  font-size: .16rem;
  margin: 0 .5rem;
  padding: 1.5rem 3.2rem;
  
  text-align: center;
  text-decoration: none;
} 

.button:hover {
  background-color: var(--blue-hover);
}

