.table {
  border: .1rem solid #bababa;
  border-spacing: 0;
  margin: 0 5rem 2rem;
  width: 100%;

}

.table tr:nth-child(even) td {
  background: #fff;
}

.table td {
  padding: 1rem;
}

.table-header td {
  font-weight: bold;
}