*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(_images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto';
}

.container {
    position: relative;
}

.title {
    margin-top: 1rem;

    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    
    text-transform: uppercase;
    font-family:'Roboto',Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
    font-weight: 500;


}

.title p {
    font-family:'Vollkorn+SC';
    padding: 1rem;
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: .5rem;
}


.flex {
    display:flex;
    justify-content: center;
}

.character-one {
    width: 300px;
    height: 400px;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    position: absolute;
    align-items: center;
    margin-top: 16%;
    margin-right: 70%;

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;

    /* border-radius: 1rem; */
}
.character-one:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrapper-ahri {
    width: 300px;
    height: 180px;
    
    background: url(_images/ahri.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.ahri-name {
    width: 300px;
    height: 40px;

    text-align: center;
    
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);
}

.ahri-name p {
    padding: .5rem;
    color: whitesmoke;
}

.card-info-ahri{
    letter-spacing: .1rem;
    opacity: 0;
    transition: all .3s ;

}

.card-info-ahri  p{
    padding: 2rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.card-info-ahri:hover {
    opacity: 1;
}

.character-two {
    width: 300px;
    height: 400px;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    position: absolute;
    align-items: center;
    margin-top: 16%;
    margin-right: -0%;  

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;

}

.character-two:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrapper-braum {
    width: 300px;
    height: 180px;
    
    background: url(_images/braum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.braum-name {
    width: 300px;
    height: 40px;

    text-align: center;
    
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);
}

.braum-name p {
    padding: .5rem;
    color: whitesmoke;
}

.card-info-braum {
    letter-spacing: .1rem;
    opacity: 0;
    transition: all .3s ;
}

.card-info-braum  p{
    padding: 1.5rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.card-info-braum:hover {
    opacity: 1;
}

.character-three {
    width: 300px;
    height: 400px;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    position: absolute;
    align-items: center;
    margin-top: 16%;
    margin-right: -70%;  

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;
}

.character-three:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrapper-aurelion {
    width: 300px;
    height: 180px;
    
    background: url(_images/Aurelion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.aurelion-name {
    width: 300px;
    height: 40px;

    text-align: center;
    
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);
}

.aurelion-name p {
    padding: .5rem;
    color: whitesmoke;
}

.card-info-aurelion {
    letter-spacing: .1rem;
    opacity: 0;
    transition: all .3s ;
}

.card-info-aurelion p {
    padding: 1.5rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.card-info-aurelion:hover {
    opacity: 1;
}