img {
    width: 7vw; 
}
.container {
    border-width: 100px ;
    border-color: darkcyan;
    border-style: solid;
    display: flex;
    justify-content: flex-start;
}
.itens {
    border-width: 120px ;
    border-color: blue;
    border-style: solid;
    width: 411px;
}
.itenstwo {
    border-width: 120px;
    border-color: black;
    border-style: solid ;
    width: 411px;
}