<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../static/style.css">
        <title>Humor</title>

    </head>

    <body>  
        {% if image %}

        <div class="wrapper-bolado">
            <img src="{{luffyBolado}}">
        </div>
        <form action="/troca" method="POST">
            <button>Trocar</button>
        </form>

        {% else %}

        <div class="wrapper-suave">
            <img src="{{luffySuave}}" alt="">
        </div>
        <form action="/">
            <button>Trocar</button>
        </form>

        {% endif %}

    </body>
</html>